body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #4f4f4f;
    align-items: center;
}
.header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
    width: 95%;
}

h1 {
    text-align: center;
    color: #4f4f4f;
    margin-bottom: 10px;
}

.logo {
  resize: both;
  width: 100px; 
  height: 100px; 
}

.section {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(98, 98, 98, 0.33);
}
.section-title {
    color: #31a601;
    margin-top: 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"], 
input[type="number"], 
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.radio-group, .checkbox-group {
    margin-top: 5px;
}
.radio-group label, .checkbox-group label {
    font-weight: normal;
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 5px;
}
input[type="radio"], input[type="checkbox"] {
    margin-right: 5px;
}
.btn-submit {
    background-color: #2980b9;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto 0;
}
.btn-submit:hover {
    background-color: #3498db;
}
.required:after {
    content: " *";
    color: red;
}
.help-text {
    font-size: 0.8em;
    color: #666;
    margin-top: 2px;
}